{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">
 <!-- One -->
  <section class="wrapper style2 container special">
        <header>
          <h2>PCB design for pleasure and business, WTF?</h2>
          <p>
            In a former life I used to develop PCB's ranging from laser range finder diode testers to 300kW PSU's to PCB's for aircraft.
            I moved on from that mostly because of immigrating to a different country but,
            also because I see myself more as a generalist and constantly wanting to learn new things. 
            I however still want to do PCB development as its something I immensely enjoy and do not get the oppertunity in my current position.  
            Another reason seeing that I alsways want to learn new things I thought that Rust seems like an awesome tool and something I want to 
            try on microcontrollers.
            <br />
          </p>
        </header>
  </section>

  <!-- Two -->
  <section class="wrapper style1 container special">
    <div class="row">

      {% for article in articles_page.object_list %}
      <div class="4u">

        <section>
          <span class="icon feature fa-{{ article.icon }}"></span>
          <header>
            <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
          </header>
          <p>{{ article.content[:196]|striptags }}</p>
          <footer>
              <ul class="buttons">
                  <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Read More</a></li>
              </ul>
          </footer>
        </section>

      </div>
      {% endfor %}

    </div> <!-- /.row -->

    {% include 'pagination.html' %}

  </section> <!-- /section -->

</article>

{#% include 'coolstuff.html' %#}
{#% include 'cta.html' %#}

{% endblock content %}