{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">
 <!-- One -->
  <section class="wrapper style2 container special">
        <header>
          <h2>Issues with shields and hats</h2>
          <p>
            1. Messy wiring interconnects when having multiple hats and shields stacked.<br />
            2. Never enough 24V compliant Inputs/Outputs.<br />
            3. Not having a wide input voltage power supply cards for powering boards.<br />
            4. Unable to use the same hats and shields with other sbc's and microcontrollers available.<br />
            <br />
          </p>
        </header>

        <header>         
          <h2>Some Ideas around a workable solution</h2>
          <p>
            1. Must be modular.<br />
            2. Must be expandable.<br />
            3. Must be useable with any microcontroller or single board computer.<br />
            <br />
            Perhaps some sort of backplane type solution as follows
            <br />
            <a href="#" class="image"><img src="{{ SITEURL }}/theme/images/pcb_sketch.jpg" alt="" /></a><br />
          </p>    
        </header>
  </section>

  <!-- Two -->
  <section class="wrapper style1 container special">
    <div class="row">

      {% for article in articles_page.object_list %}
      <div class="4u">

        <section>
          <span class="icon feature fa-{{ article.icon }}"></span>
          <header>
            <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
          </header>
          <p>{{ article.content[:196]|striptags }}</p>
          <footer>
              <ul class="buttons">
                  <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Read More</a></li>
              </ul>
          </footer>
        </section>

      </div>
      {% endfor %}

    </div> <!-- /.row -->

    {% include 'pagination.html' %}

  </section> <!-- /section -->

</article>

{#% include 'coolstuff.html' %#}
{#% include 'cta.html' %#}

{% endblock content %}